<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Accord" version="3.8.0" targetFramework="net48"/>
  <package id="Accord.Audio" version="3.8.0" targetFramework="net48"/>
  <package id="Accord.Math" version="3.8.0" targetFramework="net48"/>
  <package id="DryIoc.dll" version="4.7.7" targetFramework="net48" />
  <package id="HandyControl" version="3.5.1" targetFramework="net48" />
  <package id="ScottPlot" version="5.1.58" targetFramework="net48"/>
  <package id="ScottPlot.WPF" version="5.1.58" targetFramework="net48"/>
  <package id="System.ValueTuple" version="4.6.1" targetFramework="net48"/>
  <package id="HarfBuzzSharp" version="8.3.1.1" targetFramework="net48"/>
  <package id="HarfBuzzSharp.NativeAssets.Linux" version="8.3.1.1" targetFramework="net48"/>
  <package id="HarfBuzzSharp.NativeAssets.Win32" version="8.3.1.1" targetFramework="net48"/>
  <package id="HarfBuzzSharp.NativeAssets.macOS" version="8.3.1.1" targetFramework="net48"/>
  <package id="Microsoft.Win32.Registry" version="4.7.0" targetFramework="net48" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.31" targetFramework="net48" />
  <package id="NAudio" version="2.1.0" targetFramework="net48" />
  <package id="NAudio.Asio" version="2.1.0" targetFramework="net48" />
  <package id="NAudio.Core" version="2.1.0" targetFramework="net48" />
  <package id="NAudio.Midi" version="2.1.0" targetFramework="net48" />
  <package id="NAudio.Wasapi" version="2.1.0" targetFramework="net48" />
  <package id="NAudio.WinForms" version="2.1.0" targetFramework="net48" />
  <package id="NAudio.WinMM" version="2.1.0" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
  <package id="OpenTK" version="3.3.1" targetFramework="net48"/>
  <package id="OpenTK.GLWpfControl" version="3.3.0" targetFramework="net48"/>
  <package id="Prism.Core" version="8.1.97" targetFramework="net48" />
  <package id="Prism.DryIoc" version="8.1.97" targetFramework="net48" />
  <package id="Prism.Wpf" version="8.1.97" targetFramework="net48" />
  <package id="SkiaSharp" version="3.119.0" targetFramework="net48"/>
  <package id="SkiaSharp.HarfBuzz" version="3.119.0" targetFramework="net48"/>
  <package id="SkiaSharp.NativeAssets.Linux.NoDependencies" version="3.119.0" targetFramework="net48"/>
  <package id="SkiaSharp.NativeAssets.Win32" version="3.119.0" targetFramework="net48"/>
  <package id="SkiaSharp.NativeAssets.macOS" version="3.119.0" targetFramework="net48"/>
  <package id="SkiaSharp.Views.Desktop.Common" version="3.119.0" targetFramework="net48"/>
  <package id="SkiaSharp.Views.WPF" version="3.119.0" targetFramework="net48"/>
  <package id="System.Buffers" version="4.5.1" targetFramework="net48"/>
  <package id="System.Drawing.Common" version="7.0.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.5" targetFramework="net48"/>
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48"/>
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.AccessControl" version="4.7.0" targetFramework="net48" />
  <package id="System.Security.Principal.Windows" version="4.7.0" targetFramework="net48" />
</packages>